<a href="https://colab.research.google.com/github/singularis/machine_learning_learning/blob/main/apriori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Apriori

## Importing the libraries

In [26]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [27]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: apyori in /usr/local/lib/python3.10/dist-packages (1.1.2)

In [28]:
# from google.colab import drive
# drive.mount('/content/drive')

## Data Preprocessing

In [29]:
dataset = pd.read_csv('/content/drive/MyDrive/Machine Learning A-Z (Codes and Datasets)/Part 5 - Association Rule Learning/Section 28 - Apriori/Python/Market_Basket_Optimisation.csv', header= None)
transactions = []
for transaction in range(0,7501):
  transactions.append([str(dataset.values[transaction,j]) for j in range(0,20)])

## Training the Apriori model on the dataset

In [30]:
from apyori import apriori
rules = apriori(transactions = transactions, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_lejngth =2, max_lenght = 2)

## Visualising the results

### Displaying the first results coming directly from the output of the apriori function

In [31]:
results = list(rules)

### Putting the results well organised into a Pandas DataFrame

In [32]:
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    confidences = [result[2][0][2] for result in results]
    lifts       = [result[2][0][3] for result in results]
    return list(zip(lhs, rhs, supports, confidences, lifts))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])

### Displaying the results non sorted

In [33]:
resultsinDataFrame

           Left Hand Side Right Hand Side   Support  Confidence      Lift
0             light cream         chicken  0.004533    0.290598  4.843951
1    mushroom cream sauce        escalope  0.005733    0.300699  3.790833
2                   pasta        escalope  0.005866    0.372881  4.700812
3           fromage blanc           honey  0.003333    0.245098  5.164271
4           herb & pepper     ground beef  0.015998    0.323450  3.291994
..                    ...             ...       ...         ...       ...
155             olive oil             nan  0.003066    0.216981  3.632981
156              pancakes             nan  0.003066    0.211009  3.532991
157              tomatoes             nan  0.003066    0.261364  4.376091
158             spaghetti             nan  0.003333    0.211864  3.223519
159              tomatoes             nan  0.003333    0.238095  3.986501

[160 rows x 5 columns]

### Displaying the results sorted by descending lifts

In [34]:
resultsinDataFrame.nlargest(n=10, columns="Lift")

        Left Hand Side Right Hand Side   Support  Confidence      Lift
97                soup   mineral water  0.003066    0.383333  7.987176
150               soup             nan  0.003066    0.383333  7.987176
96   frozen vegetables   mineral water  0.003333    0.294118  6.128268
149  frozen vegetables             nan  0.003333    0.294118  6.128268
132  whole wheat pasta             nan  0.003866    0.402778  6.128268
59   whole wheat pasta       olive oil  0.003866    0.402778  6.115863
50        tomato sauce       spaghetti  0.003066    0.216981  5.535971
122       tomato sauce             nan  0.003066    0.216981  5.535971
28       fromage blanc             nan  0.003333    0.245098  5.178818
3        fromage blanc           honey  0.003333    0.245098  5.164271